---
layout: default
---

<div class="container">

  <div id="clock"></div>

  <div id="search">
    <input id="search-field" type="text" name="search-field" onkeypress="return search(event)"/>
  </div>

  <div class="weather-container">
    <div class="row">
      <div id="weather-description"class="inline"></div>
      <div class="inline">-</div>
      <div id="temp" class="inline"></div>
    </div>
  </div>

  <div class="bookmark-container">
    {% for category in site.data.bookmarks %}
    <div class="bookmark-set">
      <div class="bookmark-title">{{ category.title }}</div>
        <div class="bookmark-inner-container">
          {% for bookmark in category.bookmarks %}
            <a class="bookmark" href="{{ bookmark.link }}" target="_blank">{{ bookmark.name }}</a>
          {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>

</div>
